<div class="field">
  <%= f.label :season %>
  <%= f.select(:season, options_for_select(Issue.seasons, {selected: @issue.season}), {}, class: 'select2') %>
</div>

<div class="field">
  <%= f.label :number, 'Issue Number' %>
  <%= f.text_field :number %>
</div>

<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :year %>
  <%= f.select(:year, options_for_select(Issue.years, {selected: @issue.year}), {}, class: 'select2') %>
</div>

<div class="field">
  <%= f.label :cover_image %>
  <%= f.image_field :cover_image %>
</div>

<div class="field">
  <%= f.label :background_images %>
  <%= f.images_field :background_images do |field| %>
    <%= field.text_field :caption, placeholder: 'Caption (optional)' %>
  <% end %>
</div>

<div class="field">
  <%= f.label :color %>
  <%= f.select(:color, options_for_select(Issue.colors, {selected: @issue.color}), {}, class: 'select2') %>
</div>

<div class="field">
  <%= f.label :summary %>
  <%= f.rich_text_area :summary %>
</div>

<div class="field">
  <%= f.label :active %>
  <%= f.check_box :active %>
</div>
