<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :date %>
  <%= f.date_select :date %>
</div>

<div class="field">
  <%= f.label :teaser %>
  <%= f.rich_text_area :teaser %>
</div>

<div class="field">
  <%= f.label :image %>
  <%= f.image_field :image %>
</div>

<div class="field">
  <%= f.label :body %>
  <%= f.rich_text_area :body %>
</div>

<div class="field">
  <%= f.label :expiration_date %>
  <%= f.date_select :expiration_date %>
</div>

<div class="field">
  <%= f.label :active %>
  <%= f.check_box :active %>
</div>
