<div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :middle_name %>
  <%= f.text_field :middle_name %>
</div>

<div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :active %>
  <%= f.check_box :active %>
</div>
